<p> Hello world </p>
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<p> Hello Tania </p>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
  <h1> This is the Home page </h1>

  <title> Unordered List Exercise </title>
  <p> Unordered List </p>
  <ul style="list-style-type:circle;">

  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
  </ul>

</head>
<body>

</body>
</html>